h1 {
  color: #f20ed7;
}

p {
  background-color: green;
}

.monkey {
  background-color: purple;
}

ul {
  list-style-type: none;
  float: right;
}

.hobbies {
  float: middle;
  //border: solid red 1px;
}

* {
  border: solid red 1px;
}