img.center
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1
{
  text-align: center;
  color: white;
}

h3
{
  color: white;
}

h4
{
  text-align: center;
  color: white;
}

.aboutme
{
  color: white;
  text-align: center;
}

.socialmedia
{
  text-align: center;
}

.links
{
  list-style-type: none;
  text-align: center;
  color: white;
}

.hobbies
{
  color: white;
  text-align: white;
  list-style-position: inside;
}

.list
{
  list-style-type: none;
  text-align: center;
}

body
{
  background-image: url(http://static.tumblr.com/vy2pzfk/46zls6lto/deserve_bg.jpg);
}

.linkedin
{
	text-indent: 100px;
}
.instagram
{
	text-indent: 200px;
}
.twitter
{
	text-indent: 300px;
}


/** 
{
  border: solid red 1px;
}*/