body {
  background: #4c4c4c;
  font-family: 'Heebo', sans-serif;
  justify-content: center;
}

.container {
  margin-top: 20px;
}

img.center {
  display: block;
  margin: 0;
  
}

h1 {
  color: white;
  font-weight: 800;
}

h2 {
  color: white;
}

.about {
  color: white;
}

.links { 
  padding: 0;
  list-style-type: none;
  list-style-position: outside;
}

.links a {
  color: red;
  
}

a:active, a:hover {
  color: orange;
}
