body
{
  background: #4c4c4c;
  font-family: 'Heebo', sans-serif;
  justify-content: center;
}

.container
{
  max-width: 800px;
  margin: 0 auto;
}

img.center
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1
{
  text-align: center;
  color: white;
  font-weight: 800;
}

h2
{
  text-align: center;
  color: white;
}

.aboutme
{
  color: white;
  text-align: center;
}

.links
{
  list-style-type: none;
  text-align: center;
}

.links a
{
  color: red;
}

a:active, a:hover
{
  color: orange;
}

a:link
{
  text-decoration: none;
}